main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 100vw;
  gap: 20px;
}

article {
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  color: black;
  padding: 20px;
}

#popUp {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: scroll;
}

#popUp article {
  width: 80vw;
  display: flex;
  margin: 4rem auto;
  border-radius: 25px;
  padding: 12px;
  background-color: white;
}

.valgt {
  background-color: red;
}
